
.overlay {
    position:fixed;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.2);
}
.overlay_inner {
    position:absolute;
    top:10%;
    width:80%;
    left:10%;
    height:80%;
    background-color:white;
    overflow-y:scroll;
    padding:2vmin;
    border-radius:3vmin;
}

