
#toolbar {
    position:fixed;
    background-color:white;
    background-color:rgba(255,255,255,0.95);
    display:flex;
    height:8vmin;
}

#toolbar > #ourlogo {
    display:block;
    height:100%;
}
#ourlogo img {
    display:block;
    height:100%
}



#info {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
    width:90%;
}

#info > div {
    width:5%;
    text-align:center;
}

#info > div  img {
    height:80%;
}

.Layer .Value {
    margin:0;
    padding:0;
    position:relative;
    top:-0.6em;
    font-size:2vmin;
}


/* default: desktop */
#toolbar {
    width:100%;
    top:0;
    left:0;
    padding-bottom:0.3vmin;
    border-bottom:1px solid black;
}


/* Mobile*/
@media (max-width: 800px) {
    #toolbar {
        border-radius: 2vh 0 0 2vh;
        width:50vw;
        height:50vh;
        top:0;
        right:0;
        left:inherit;
        min-width:240px;
        min-height:240px;

    }
    /* flex magic */
    #toolbar #info{
        flex-wrap:wrap;
    }
    #info {width:100%}
    #info .Layer,#info .Link { width:20%;height:25%;}
    #info > div img {max-width:100%;max-height:100%}
    #info > div img { height:auto}
    .Layer .Value {
        text-align:center;
        font-size:90%;
    }
    #ourlogo img {display:none}
}

