

#info {
    position:fixed;
    background-color:white;
    background-color:rgba(255,255,255,0.95);
}
#info .Layer,#info .Link {position:relative;float:left;}



/* default: desktop */
#info {
    width:100%;
    top:0;
    left:0;
    border-radius:0 0 2vh 2vh;
    padding-bottom:1em;
}
#info .Layer,#info .Link {
    width:5%;
    height:10vmin;
    max-height:65px;
}
#info .Layer img, #info .Ling img{
    max-height:50px;
}

/* Mobile*/
@media (max-width: 800px) {
    #info {
        border-radius: 2vh 0 0 2vh;
        width:50vw;
        height:50vh;
        top:0;
        right:0;
        left:inherit;
        min-width:240px;
        min-height:240px;
    }
    #info .Layer,#info .Link { width:20%;height:25%;}
}



#info .Layer > .Value {
    bottom:0;
    width:100%;
    background-color:rgba(255,255,255,0.9);
    text-align:center;
}
.Layer {text-align:center}
.Layer > img {
    height:80%;
    top:0;
    display:block;
    margin:0 auto;

}

.externalLink .logo{
    position:absolute;
    height:100%;
    top:0;
    left:0;
    opacity:0.8;
}