

#toolbar {
    position:fixed;
    background-color:white;
    background-color:rgba(255,255,255,0.95);
    display:flex;
}

#toolbar img {
    height:5vmin;
}

#info {
    background-color:red;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
}

#info > div {
    display:inline-block;
}




/* default: desktop */
#toolbar {
    width:100%;
    top:0;
    left:0;
    border-radius:0 0 2vh 2vh;
    padding-bottom:1em;
}


/* Mobile*/
@media (max-width: 800px) {
    #toolbar {
        border-radius: 2vh 0 0 2vh;
        width:50vw;
        height:50vh;
        top:0;
        right:0;
        left:inherit;
        min-width:240px;
        min-height:240px;
    }
    #info .Layer,#info .Link { width:20%;height:25%;}
}



#info .Layer > .Value {
    bottom:0;
    width:100%;
    background-color:rgba(255,255,255,0.9);
    text-align:center;
}
